/* Created by David Ansa*/
/* Created on 11-03-21 */


header {
    border: 7px;
    border-color: aliceblue;
    color: yellowgreen;
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
    position: center;
    text-align: center;
    width: 100%;
    height: auto;
    z-index: 10;
}

header li{
    background-color: white;
    color: black;
    display: inline-block;
    list-style: none;
    list-style-type: none;

}

/* header li :hover{
    background-color: aqua;
    color: black;
} */

.button {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;

}
#navbar {
    color: black;

}

#navbuttonAbout {
    border-radius: 5px;
    animation: ease-in;
}
#navbuttonAbout :hover {
    background-color: red;
}

#navbuttonContact {
    background-color: yellow;
}

#navbuttonContact :hover {
    background-color: red;
}

#navbuttonLogIn :hover {
    cursor: auto;
}



main h1 :hover {
    background-color: red;
}

body {
    text-align: center;
    font-family: sans-serif;
}

#mainBody h1 {
    color: red;

}

section {
    border: 10px;
    border-color: red;
    margin: 15px;
}

#navbar{
    border: 1px;
    background-color: blue;
}

#navbutton {
    padding: 3px;
    margin: 3px;
    color: black;
}

.column {
    border-right: 2px solid black;
    display: inline-block;
    flex: 50%;
    padding: 10px;
}

.column:last-child {
    border-right: none;
}

.row ::after {
    display: flex;
}

#column2 {
    border-radius: 2px;
    border-color: #0f1111;
    margin: 3px;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
